
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Login</h2>
<input type="text" placeholder="Username" />
<input type="password" placeholder="Password" />
<a href="/home/loginSubmit" class=" btn btn-primary">Login</a>

